Repository COS301-SE-2022/MathU-Similarity-Index, pull requests merged in 2022-07, with the labels that each got.

#65 :sparkles: (Backend) JSON decoder
  server/services/tools.py
Labels: priority:medium, status:ready, type:chore, scope:service

#66 :sparkles: (Backend) adding tagging for equations etc.
  server/services/tagging.py
Labels: priority:high, status:not-ready, scope:service, type:feature

#70 ✨ Added Mathematical Tools API (Simultaneous Equation Individual Api)
  server/api/MathematicalTools API/Individual Api's/simultaneous_equation.py
Labels: priority:medium, scope:api, status:needs-tests

#71 ✨ Mathematicals Tools API (Simultaneous Equation and Area Circle)
  server/api/MathematicalTools API/Individual Api's/simultaneous_equation.py
Labels: priority:medium, scope:api

#72 :sparkles: Mathematical Tools Api (Area Circle)
  server/api/MathematicalTools API/Individual Api's/areacircle.py
Labels: priority:medium, scope:api

#81 ✨ Added Full Mathematical Tools Api and Past Papers Pages
  packages/client/assets/PastPapers/MathGrade1/2013 ana Grade 1 English Mathematics Exemplar.pdf
  packages/client/assets/PastPapers/MathGrade1/2015 Grade 1 Mathematics English Memo.pdf
  packages/client/assets/PastPapers/MathGrade1/2015 Grade 1 Mathematics English Test.pdf
  packages/client/assets/PastPapers/MathGrade1/English-Grade-1-1-1.pdf
  packages/client/assets/PastPapers/MathGrade1/English-Grade-1-Memo-1.pdf
  packages/client/assets/PastPapers/MathGrade1/Grade-1-Mathematics-Memo-Eng.pdf
  packages/client/assets/PastPapers/MathGrade1/Grade-1-Mathematics-Paper-Eng.pdf
  packages/client/assets/PastPapers/MathGrade1/Mathematics P1 Nov 2021 Eng.pdf
  packages/client/assets/cropped-MathU-Infinity-App-Icon_RocketRound-Corners-1-32x32.png
  packages/client/assets/flutter_login_ui_amir.jpg
  packages/client/assets/login_01.jpg
  packages/client/assets/login_04.png
  packages/client/assets/login_05.png
  packages/client/assets/login_06.jpg
  packages/client/assets/screen_shot.png
  packages/client/lib/calculations.dart
  packages/client/lib/home.dart
  packages/client/lib/login_page.dart
  packages/client/lib/main.dart
  packages/client/lib/nav_bar.dart
  packages/client/lib/pastpapers.dart
  packages/client/lib/search_bar.dart
  packages/client/lib/searchhistory.dart
  packages/client/lib/viewAllProblems.dart
  packages/client/pubspec.lock
  packages/client/test/search_historty_test.dart
  packages/client/test/widget_test.dart
  packages/client/windows/flutter/generated_plugins.cmake
  server/api/MathematicalTools API/Individual Api's/areaparrallelogram.py
  server/api/MathematicalTools API/Individual Api's/arearectangle.py
  server/api/MathematicalTools API/Individual Api's/arearhombus.py
  server/api/MathematicalTools API/Individual Api's/areasquare.py
  server/api/MathematicalTools API/Individual Api's/areatrapezoid.py
  server/api/MathematicalTools API/Individual Api's/areatriangle.py
  server/api/MathematicalTools API/Individual Api's/arithmeticsequence.py
  server/api/MathematicalTools API/Individual Api's/compoundintrest.py
  server/api/MathematicalTools API/Individual Api's/convertdr.py
  server/api/MathematicalTools API/Individual Api's/convertrd.py
  server/api/MathematicalTools API/Individual Api's/geometricsequence.py
  server/api/MathematicalTools API/Individual Api's/mean.py
  server/api/MathematicalTools API/Individual Api's/median.py
  server/api/MathematicalTools API/Individual Api's/median_high.py
  server/api/MathematicalTools API/Individual Api's/median_low.py
  server/api/MathematicalTools API/Individual Api's/mode.py
  server/api/MathematicalTools API/Individual Api's/perimetrecircle.py
  server/api/MathematicalTools API/Individual Api's/perimetreparrallelogram.py
  server/api/MathematicalTools API/Individual Api's/perimetrerectangle.py
  server/api/MathematicalTools API/Individual Api's/perimetrerhombus.py
  server/api/MathematicalTools API/Individual Api's/perimetresquare.py
  server/api/MathematicalTools API/Individual Api's/perimetretrapezoid.py
  server/api/MathematicalTools API/Individual Api's/perimetretriangle.py
  server/api/MathematicalTools API/Individual Api's/pstdev.py
  server/api/MathematicalTools API/Individual Api's/pvariance.py
  server/api/MathematicalTools API/Individual Api's/simpleintrest.py
  server/api/MathematicalTools API/Individual Api's/stdev.py
  server/api/MathematicalTools API/Individual Api's/variance.py
  server/api/MathematicalTools API/calculations_api.py
Labels: scope:design, priority:high, scope:api

#82 ✨ Added Full Mathematical Tools Api and Past Papers Pages
  packages/client/assets/PastPapers/MathGrade1/2013 ana Grade 1 English Mathematics Exemplar.pdf
  packages/client/assets/PastPapers/MathGrade1/2015 Grade 1 Mathematics English Memo.pdf
  packages/client/assets/PastPapers/MathGrade1/2015 Grade 1 Mathematics English Test.pdf
  packages/client/assets/PastPapers/MathGrade1/English-Grade-1-1-1.pdf
  packages/client/assets/PastPapers/MathGrade1/English-Grade-1-Memo-1.pdf
  packages/client/assets/PastPapers/MathGrade1/Grade-1-Mathematics-Memo-Eng.pdf
  packages/client/assets/PastPapers/MathGrade1/Grade-1-Mathematics-Paper-Eng.pdf
  packages/client/assets/PastPapers/MathGrade1/Mathematics P1 Nov 2021 Eng.pdf
  packages/client/assets/cropped-MathU-Infinity-App-Icon_RocketRound-Corners-1-32x32.png
  packages/client/assets/flutter_login_ui_amir.jpg
  packages/client/assets/login_01.jpg
  packages/client/assets/login_04.png
  packages/client/assets/login_05.png
  packages/client/assets/login_06.jpg
  packages/client/assets/screen_shot.png
  packages/client/lib/calculations.dart
  packages/client/lib/home.dart
  packages/client/lib/login_page.dart
  packages/client/lib/main.dart
  packages/client/lib/nav_bar.dart
  packages/client/lib/pastpapers.dart
  packages/client/lib/search_bar.dart
  packages/client/lib/searchhistory.dart
  packages/client/lib/viewAllProblems.dart
  packages/client/pubspec.lock
  packages/client/test/search_historty_test.dart
  packages/client/test/widget_test.dart
  packages/client/windows/flutter/generated_plugins.cmake
  server/api/MathematicalTools API/Individual Api's/areaparrallelogram.py
  server/api/MathematicalTools API/Individual Api's/arearectangle.py
  server/api/MathematicalTools API/Individual Api's/arearhombus.py
  server/api/MathematicalTools API/Individual Api's/areasquare.py
  server/api/MathematicalTools API/Individual Api's/areatrapezoid.py
  server/api/MathematicalTools API/Individual Api's/areatriangle.py
  server/api/MathematicalTools API/Individual Api's/arithmeticsequence.py
  server/api/MathematicalTools API/Individual Api's/compoundintrest.py
  server/api/MathematicalTools API/Individual Api's/convertdr.py
  server/api/MathematicalTools API/Individual Api's/convertrd.py
  server/api/MathematicalTools API/Individual Api's/geometricsequence.py
  server/api/MathematicalTools API/Individual Api's/mean.py
  server/api/MathematicalTools API/Individual Api's/median.py
  server/api/MathematicalTools API/Individual Api's/median_high.py
  server/api/MathematicalTools API/Individual Api's/median_low.py
  server/api/MathematicalTools API/Individual Api's/mode.py
  server/api/MathematicalTools API/Individual Api's/perimetrecircle.py
  server/api/MathematicalTools API/Individual Api's/perimetreparrallelogram.py
  server/api/MathematicalTools API/Individual Api's/perimetrerectangle.py
  server/api/MathematicalTools API/Individual Api's/perimetrerhombus.py
  server/api/MathematicalTools API/Individual Api's/perimetresquare.py
  server/api/MathematicalTools API/Individual Api's/perimetretrapezoid.py
  server/api/MathematicalTools API/Individual Api's/perimetretriangle.py
  server/api/MathematicalTools API/Individual Api's/pstdev.py
  server/api/MathematicalTools API/Individual Api's/pvariance.py
  server/api/MathematicalTools API/Individual Api's/simpleintrest.py
  server/api/MathematicalTools API/Individual Api's/stdev.py
  server/api/MathematicalTools API/Individual Api's/variance.py
  server/api/MathematicalTools API/calculations_api.py
Labels: scope:design, priority:high, scope:api, scope:client

#79 💥 🚧 💄(UI): Major front end changes
  packages/client/android/app/src/main/AndroidManifest.xml
  packages/client/ios/Runner/Info.plist
  packages/client/lib/NavigationDrawer.dart
  packages/client/lib/PrototypeFiles/home.dart
  packages/client/lib/PrototypeFiles/login_page.dart
  packages/client/lib/PrototypeFiles/main.dart
  packages/client/lib/PrototypeFiles/nav_bar.dart
  packages/client/lib/PrototypeFiles/search_bar.dart
  packages/client/lib/PrototypeFiles/searchhistory.dart
  packages/client/lib/PrototypeFiles/viewAllProblems.dart
  packages/client/lib/SearchResultItem.dart
  packages/client/lib/apiInterface.dart
  packages/client/lib/home.dart
  packages/client/lib/main.dart
  packages/client/lib/titlebar.dart
  packages/client/test/nav_bar_test.dart
  packages/client/test/search_bar_test.dart
  packages/client/test/search_historty_test.dart
  packages/client/test/widget_test.dart
Labels: scope:design, priority:high, scope:ui, scope:client, status:needs-info, type:change, type:chore, type:cosmetic, type:feature

#83 :construction_worker: (Backend) added unit tests for tagging
  server/__init__.py
  server/services/__pycache__/tagging.cpython-310.pyc
  server/services/tagging.py
  server/tests/__init__.py
  server/tests/__pycache__/__init__.cpython-310.pyc
  server/tests/test_services/__init__.py
  server/tests/test_services/__pycache__/__init__.cpython-310.pyc
  server/tests/test_services/__pycache__/test_tagging.cpython-310-pytest-7.1.2.pyc
  server/tests/test_services/test_tagging.py
Labels: priority:low, scope:cicd, status:ready, type:chore, scope:service

#97 🍱✨🚚🐛 (Backend) Updated API, Services and DB
  server/api/__init__.py
  server/api/queries.py
  server/app.py
  server/db/MathU_Similarity_Index_Database/mathU_similarity_index_database_dump.sql
  server/db/MathU_Similarity_Index_Database/temp_sql.sql
  server/db/__init__.py
  server/db/clean_output.txt
  server/schema.graphql
  server/services/__init__.py
  server/services/math_language.py
Labels: scope:db, priority:high, scope:api, scope:repository, status:ready, type:bug, type:change, type:chore, scope:service, type:feature

#98 ✨ Past Papers Update
  packages/client/assets/MathematicsPastPapers/2019/12/June/Paper 1 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2019/12/June/Paper 1 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2019/12/June/Paper 2 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2019/12/June/Paper 2 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2019/12/November/Paper 1 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2019/12/November/Paper 1 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2019/12/November/Paper 2 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2019/12/November/Paper 2 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2020/12/June/Paper 1 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2020/12/June/Paper 1 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2020/12/June/Paper 2 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2020/12/June/Paper 2 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2020/12/November/Paper 1 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2020/12/November/Paper 1 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2020/12/November/Paper 2 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2020/12/November/Paper 2 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2021/12/June/Paper 1 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2021/12/June/Paper 1 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2021/12/June/Paper 2 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2021/12/June/Paper 2 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2021/12/November/Paper 1 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2021/12/November/Paper 1 Question Paper.pdf
  packages/client/assets/MathematicsPastPapers/2021/12/November/Paper 2 Memo.pdf
  packages/client/assets/MathematicsPastPapers/2021/12/November/Paper 2 Question Paper.pdf
Labels: priority:high, scope:repository, type:change

#99 ✨ 💄 Add navigation drawer to Mathermatical Tools and Past Papers
  packages/client/lib/calculations.dart
  packages/client/lib/pastpapers.dart
Labels: scope:design, priority:medium

#100 :sparkles: (Backend) Levenshtein distance and similarity added
  server/services/clean_output.txt
  server/services/confidence_calc.py
  server/services/tagging.py
  server/similarity.py
Labels: priority:high, status:ready, type:change, scope:service, type:feature

#102 👽️ ✨ 💄(UI) :
  packages/client/lib/NavigationDrawer.dart
  packages/client/lib/SearchResultItem.dart
  packages/client/lib/UserData.dart
  packages/client/lib/apiInterface.dart
  packages/client/lib/commentItem.dart
  packages/client/lib/equationOverview.dart
  packages/client/lib/history.dart
  packages/client/lib/home.dart
  packages/client/lib/logIn.dart
  packages/client/lib/login_page.dart
  packages/client/lib/main.dart
  packages/client/lib/savedResultItem.dart
  packages/client/lib/savedResults.dart
  packages/client/pubspec.lock
  packages/client/pubspec.yaml
  packages/client/test/widget_test.dart
  packages/client/windows/flutter/generated_plugins.cmake
Labels: priority:high, scope:ui, scope:api, scope:client, status:needs-tests, type:change, type:chore, type:feature

#105 :bug: (Backend) small fix
  server/services/confidence_calc.py
Labels: priority:low, status:ready, type:bug, scope:service

#108 🍱(Backend) Updated Schema, Adden mocks for new API calls, DB general connection class
  requirments.txt
  server/api/__init__.py
  server/api/mutation.py
  server/api/queries.py
  server/app.py
  server/config.py
  server/db/MathU_Similarity_Index_Database/COS 310 Capstone DB Schema V1.png
  server/db/MathU_Similarity_Index_Database/levenshtein function creation.sql
  server/db/MathU_Similarity_Index_Database/problem-data.sql
  server/db/connect_db.py
  server/schema.graphql
  server/test2.py
Labels: scope:db, priority:high, scope:api, status:ready, scope:service

#110 🐛 (Backend) fixed import, db, API
  server/api/mutation.py
  server/api/queries.py
  server/app.py
  server/db/MathU_Similarity_Index_Database/MathU_Similarity_Index_Database_Dump_V2.sql
Labels: scope:db, priority:high, scope:api, scope:repository, status:ready, type:bug, scope:service

#111 🐛 👽️ (UI) : Correcting API queries
  packages/client/lib/apiInterface.dart
Labels: priority:high, scope:api, scope:client

#112 ✨ Port number change to 5001 for mathematical Tools
  packages/client/lib/calculations.dart
  server/api/MathematicalTools API/calculations_api.py
Labels: priority:medium, scope:api

#113 🐛 (UI): Fixed spelling mistake
  packages/client/lib/apiInterface.dart
Labels: priority:high, scope:ui, scope:api, scope:client, status:needs-tests, type:bug, type:change, type:chore

#114 :bug: Fixed PastPapers
  packages/client/lib/pastpapers.dart
  packages/client/pubspec.lock
  packages/client/windows/flutter/generated_plugins.cmake
Labels: priority:high

#115 🐛 (Backend) fixed bugs
  packages/client/lib/SearchResultItem.dart
  packages/client/lib/UserData.dart
  packages/client/lib/apiInterface.dart
  packages/client/lib/history.dart
  packages/client/lib/savedResults.dart
  server/api/queries.py
  server/app.py
  server/db/connect_db.py
  server/services/authenticate_user.py
  server/test2.py
Labels: scope:db, priority:high, scope:api, scope:repository, status:ready, type:bug, scope:service
