Repository COS301-SE-2022/MathU-Similarity-Index, pull requests merged in 2022-09, with the labels that each got.

#119 💄(UI): Created a carousel
  packages/client/assets/images/cropped-MathU-Infinity-App-Icon_RocketRound-Corners-1-32x32.png
  packages/client/assets/images/login_02.jpg
  packages/client/assets/images/login_03.png
  packages/client/assets/images/login_06.jpg
  packages/client/assets/images/samples/african-elephant.jpg
  packages/client/assets/images/samples/giraffe.jpg
  packages/client/assets/images/samples/panda.jpg
  packages/client/assets/images/samples/prairiedog.jpg
  packages/client/assets/images/samples/sloth.jpg
  packages/client/lib/NavigationDrawer.dart
  packages/client/lib/home.dart
  packages/client/lib/homeCarousel.dart
  packages/client/lib/logIn.dart
  packages/client/pubspec.lock
  packages/client/pubspec.yaml
  packages/client/windows/flutter/generated_plugins.cmake
  requirments.txt
Labels: scope:design, priority:high, scope:ui, scope:client, status:needs-info, type:chore, type:cosmetic, type:feature

#120 :sparkles: (Backend) dockerfile and requirements.txt
  server/Dockerfile
  server/requirements.txt
Labels: priority:high, scope:api, scope:repository, status:not-ready, scope:service, type:feature

#123 💄(UI): Update Carousel
  packages/client/lib/home.dart
  packages/client/lib/homeCarousel.dart
Labels: scope:design, priority:medium, scope:ui, status:ready, type:change, type:chore, type:cosmetic

#124 :bug: (Backend) updating dockerfile
  server/Dockerfile
Labels: priority:high, scope:repository, status:ready, type:bug, scope:service

#126 💄 🚧 (UI): Search Bar Filter Functionality
  packages/client/lib/apiInterface.dart
  packages/client/lib/home.dart
Labels: priority:high, scope:ui, scope:client, status:needs-tests, type:chore, type:feature

#130 :sparkles: (Backend) hosted db/api
  .gitignore
  server/Dockerfile
  server/db/MathU_Similarity_Index_Database/MathU_Similarity_Index_Database_Dump_V2.sql
Labels: priority:high

#132 :bug: (Backend) removed bugs, testing prints
  server/api/queries2.py
  server/app.py
  server/config.py
  server/db/connect_db.py
  server/dockerdeploy.txt
Labels: priority:medium, scope:api, status:ready, type:bug

#133 :sparkles: (Frontend) firebase hosting flutter
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  packages/client/.firebase/hosting.YnVpbGRcd2Vi.cache
  packages/client/.firebaserc
  packages/client/firebase.json
Labels: priority:high, scope:cicd, scope:repository, status:ready, type:feature

#134 :bug: (CI/CD) changing to npm scripts
  .github/workflows/firebase-hosting-pull-request.yml
Labels: priority:low, scope:cicd, status:needs-tests, type:bug, type:change

#138 💄 🚧 (UI): Updated Filtering Feature
  packages/client/lib/NavigationDrawer.dart
  packages/client/lib/apiInterface.dart
  packages/client/lib/home.dart
  packages/client/lib/homeCarousel.dart
  packages/client/lib/titlebar.dart
  packages/client/pubspec.lock
  packages/client/pubspec.yaml
  server/db/__pycache__/__init__.cpython-310.pyc
  server/db/__pycache__/connect_db.cpython-310.pyc
  server/services/__pycache__/__init__.cpython-310.pyc
Labels: scope:design, priority:medium, scope:ui, scope:client, status:on-hold, type:change, type:chore, type:cosmetic, type:feature

#143 ✨(Backend) Major API, Database and Connector changes
  server/api/__init__.py
  server/api/queries2.py
  server/app.py
  server/db/MathU_Similarity_Index_Database/MathU_Similarity_Index_Database_Dump_V3_Schema and Data.sql
  server/db/MathU_Similarity_Index_Database/MathU_Similarity_Index_Database_Dump_V4_Schema and Data.sql
  server/db/connect_db.py
  server/db/sql_functions.py
  server/services/authentication.py
Labels: scope:db, priority:high, scope:api, scope:repository, status:ready, type:bug, type:change, type:chore, scope:service, type:feature

#144 💄 🚧 (UI): Updated Navigation drawer and Log in Screen
  packages/client/.gitignore
  packages/client/lib/NavigationDrawer.dart
  packages/client/lib/UserData.dart
  packages/client/lib/apiInterface.dart
  packages/client/lib/logIn.dart
  packages/client/pubspec.lock
  packages/client/pubspec.yaml
Labels: scope:design, priority:high, scope:ui, scope:client, status:ready, type:bug, type:chore, type:cosmetic, type:feature

#145 :bug: (Repo) small hosting fixes
  packages/client/lib/apiInterface.dart
  server/Dockerfile
  server/dockerdeploy.txt
Labels: scope:db, priority:high, scope:ui, scope:api, scope:repository, status:ready, type:bug, type:change

#152 :sparkles: (Backend) connecting api to services
  requirments.txt
  server/services/confidence_calc.py
Labels: priority:high, status:ready, type:change, scope:service, type:feature

#153 :sparkles: (Backend) added tools to clean DB
  server/requirements.txt
  server/services/tools.py
Labels: scope:db, priority:medium, status:ready, scope:service, type:feature

#154 💄 🚧 (UI): New Features
  packages/client/.firebase/hosting.YnVpbGRcd2Vi.cache
  packages/client/assets/Fonts/DINNextLTPro-Bold.otf
  packages/client/assets/Fonts/DINNextLTPro-BoldItalic.otf
  packages/client/assets/Fonts/DINNextLTPro-MediumItalic.otf
  packages/client/assets/Fonts/DINNextLTPro-Regular.otf
  packages/client/assets/images/404.png
  packages/client/assets/images/LogIn.png
  packages/client/assets/images/SignUp.png
  packages/client/assets/images/balloon.png
  packages/client/assets/images/favicon.png
  packages/client/assets/images/flag.png
  packages/client/assets/images/laptop.png
  packages/client/assets/images/letGo.png
  packages/client/assets/images/planet.png
  packages/client/lib/NavigationDrawer.dart
  packages/client/lib/PastPapersTools.dart
  packages/client/lib/SearchResultItem.dart
  packages/client/lib/UserData.dart
  packages/client/lib/apiInterface.dart
  packages/client/lib/equationOverview.dart
  packages/client/lib/history.dart
  packages/client/lib/home.dart
  packages/client/lib/homeCarousel.dart
  packages/client/lib/logIn.dart
  packages/client/lib/main.dart
  packages/client/lib/noResultsText.dart
  packages/client/lib/sign_up.dart
  packages/client/pubspec.yaml
  packages/client/web/favicon.png
Labels: scope:design, priority:low, scope:ui, scope:client, status:ready, type:change, type:chore, type:cosmetic, type:feature

#156 🔨 (Backend) Refactor server
  server/README.txt
  server/api/__init__.py
  server/api/mutation_main.py
  server/api/queries/__init__.py
  server/api/queries/resolve_math_api_data.py
  server/api/queries/resolve_math_past_paper_data.py
  server/api/queries_main.py
  server/app.py
  server/db/__init__.py
  server/db/connect_db.py
  server/lib/database dump/MathU_Similarity_Index_Database_Dump_Schema and Data.sql
  server/requirements.txt
  server/schema.graphql
  server/services/__init__.py
  server/services/authenticate_user.py
  server/services/confidence_calc.py
  server/services/math_language.py
  server/services/tagging.py
  server/services/tools.py
  server/tests/__init__.py
  server/tests/test_services/__init__.py
  server/tests/test_services/test_tagging.py
Labels: priority:high, scope:api, status:ready, type:change, scope:service

#159 :sparkles: (Backend) tools.py updates
  server/services/tools.py
Labels: priority:high, status:ready, scope:service, type:feature

#160 ✨(API) Major changes
  server/api/__init__.py
  server/api/mutation_main.py
  server/api/queries/resolve_math_past_paper_data.py
  server/api/queries/resolve_similarity_search
  server/api/queries_main.py
  server/app.py
  server/db/handlers/__init__.py
  server/db/handlers/comments.py
  server/db/handlers/problems.py
  server/db/handlers/problems_shared.py
  server/db/handlers/tags.py
  server/db/handlers/users.py
  server/db/handlers/users_shared.py
  server/schema.graphql
  server/services/authentication.py
  server/services/confidence_calc.py
  server/services/handlers/__init__.py
  server/services/handlers/handlers_main.py
Labels: scope:db, priority:high, scope:api, scope:repository, status:not-ready, type:change, scope:service, type:feature

#162 :sparkles: (DB) added remove problem SQL
  server/db/handlers/problems.py
Labels: scope:db, priority:high, status:ready, type:feature

#164 :sparkles: (Backend) cleaned db
  server/db/handlers/problems.py
  server/generateConfig.bat
  server/services/tools.py
Labels: scope:db, priority:low, status:ready, scope:service, type:feature

#165 :sparkles: (Backend) sql for getID
  server/db/handlers/problems.py
Labels: scope:db, priority:high, status:ready, type:feature

#166 :sparkles: (Backend) some more sql
  server/db/handlers/problems.py
  server/db/handlers/users_shared.py
Labels: scope:db, priority:high, status:ready, type:feature

#168 💄👽🍻(UI): Update to Search Query
  packages/client/.firebase/hosting.YnVpbGRcd2Vi.cache
  packages/client/lib/SearchResultItem.dart
  packages/client/lib/UserData.dart
  packages/client/lib/admin_page.dart
  packages/client/lib/apiInterface.dart
  packages/client/lib/equationOverview.dart
  packages/client/lib/history.dart
  packages/client/lib/history_item.dart
  packages/client/lib/home.dart
  packages/client/lib/load_icon.dart
  packages/client/lib/logIn.dart
  packages/client/lib/main.dart
  packages/client/lib/noResultsText.dart
  packages/client/lib/savedResultItem.dart
  packages/client/lib/savedResults.dart
  packages/client/lib/sign_up.dart
  packages/client/lib/string_checker.dart
Labels: scope:design, priority:high, scope:ui, scope:api, scope:client, status:needs-tests, type:bug, type:change, type:chore, type:cosmetic, type:feature

#169 :sparkles: (Backend) api queries
  server/api/queries_main.py
  server/app.py
  server/db/handlers/problems.py
  server/db/handlers/users_shared.py
Labels: priority:high, scope:api, status:ready, type:feature

#170 🧪 (Front-End): Testing
  packages/client/lib/login_page.dart
  packages/client/test/widget_test.dart
Labels: priority:high, scope:ui, status:needs-tests, type:chore

#172 :bug: (Backend) fix
  server/api/queries_main.py
Labels: priority:high, scope:api, status:ready, type:bug

#174 💄 (UI): Create User Profile Page
  packages/client/lib/NavigationDrawer.dart
  packages/client/lib/main.dart
  packages/client/lib/user_profile.dart
Labels: scope:design, priority:low, scope:client, status:needs-tests, type:chore, type:cosmetic

#175 🐛 ✨ (Backend) Major API fixes and Search Working
  server/api/queries/resolve_math_api_data.py
  server/api/queries/resolve_math_past_paper_data.py
  server/api/queries/resolve_similarity_search
  server/api/queries/resolve_similarity_search.py
  server/api/queries_main.py
  server/app.py
  server/db/handlers/cache.py
  server/db/handlers/problems.py
  server/db/handlers/problems_shared.py
  server/db/handlers/users_shared.py
  server/lib/db schema docs/mathu_similarity_index_database.png
  server/lib/sql/random.sql
  server/schema.graphql
  server/services/handlers/handlers_main.py
  server/testFunctions.py
Labels: scope:db, priority:high, scope:api, scope:repository, status:ready, type:change, scope:service, type:feature

#176 :bug: (Backend) import changes
  server/api/mutations/resolve_favorites.py
Labels: priority:high, scope:api, status:ready, type:bug

#177 💄 🐛 👽 (Front-End): Correcting the API query returns
  packages/client/.firebase/hosting.YnVpbGRcd2Vi.cache
  packages/client/lib/apiInterface.dart
  packages/client/lib/equationOverview.dart
  packages/client/lib/home.dart
  packages/client/lib/load_icon.dart
  packages/client/lib/logIn.dart
  packages/client/lib/noResultsText.dart
  packages/client/lib/sign_up.dart
  packages/client/lib/user_profile.dart
  packages/client/pubspec.yaml
Labels: scope:design, priority:high, scope:ui, scope:api, scope:client, status:needs-tests, type:bug, type:change, type:chore
