Repository COS301-SE-2022/MathU-Similarity-Index, pull requests merged in 2022-05, with the labels that each got.

#3 :memo: (docs) updating read me file
  README.md
Labels: documentation

#8 :memo: (Docs) README.md - added table
  README.md
Labels: documentation, enhancement

#19 🎉(UI): Added Prototype
  packages/client/lib/home.dart
  packages/client/lib/main.dart
  packages/client/lib/nav_bar.dart
  packages/client/lib/search_bar.dart
  packages/client/test/widget_test.dart
Labels: scope:design, priority:high, scope:client, status:ready, type:chore

#22 ✅ (Prototype): Added tests for creating home page
  packages/client/lib/nav_bar.dart
  packages/client/test/widget_test.dart
Labels: priority:medium, scope:ui, scope:client, status:ready, type:chore

#26 :building_construction: Removed mock values and changed default history values and added last reference to searchistory.dart
  packages/client/.metadata
  packages/client/lib/searchhistory.dart
  packages/client/linux/.gitignore
  packages/client/linux/CMakeLists.txt
  packages/client/linux/flutter/CMakeLists.txt
  packages/client/linux/flutter/generated_plugin_registrant.cc
  packages/client/linux/flutter/generated_plugin_registrant.h
  packages/client/linux/flutter/generated_plugins.cmake
  packages/client/linux/main.cc
  packages/client/linux/my_application.cc
  packages/client/linux/my_application.h
Labels: priority:medium, scope:client

#27 ✨🤡 (UI) adding viewAll cards list
  packages/client/lib/home.dart
  packages/client/lib/viewAllProblems.dart
  packages/client/windows/flutter/generated_plugins.cmake
Labels: priority:high, scope:ui, status:needs-tests

#28 💄 (Prototype): Added Navigation between pages
  packages/client/lib/home.dart
  packages/client/lib/main.dart
  packages/client/lib/search_bar.dart
  packages/client/lib/searchhistory.dart
  packages/client/lib/viewAllProblems.dart
  packages/client/test/widget_test.dart
Labels: scope:design, priority:medium, scope:ui, scope:client, status:ready, type:chore

#30 🍱 (CI-CD) Updated CI tests
  .github/workflows/Flutter-Tests.yml
  .github/workflows/dart.yml
  .github/workflows/index.yml
  README.md
  package.json
Labels: priority:medium, scope:cicd, status:ready, type:change, type:chore, scope:documentation

#31 💄 🩹 (Prototype): Added Styling for AppBar Fixed confusion between saved page and view all page
  packages/client/lib/home.dart
  packages/client/lib/search_bar.dart
  packages/client/lib/searchhistory.dart
  packages/client/lib/viewAllProblems.dart
Labels: scope:design, priority:low, scope:ui, scope:client, status:ready, type:bug, type:change, type:chore
