Repository COS301-SE-2022/MathU-Similarity-Index, pull requests merged in 2022-06, with the labels that each got.

#37 🍱 (CI-CD) Updated CI test Index, dart and flutter to run on rel. only
  .github/workflows/Flutter-Tests.yml
  .github/workflows/dart.yml
  .github/workflows/index.yml
Labels: priority:low, scope:cicd, status:ready, type:chore

#39 :bug: (api) fixed typo
  server/api/schema.graphql
Labels: priority:low, scope:api, status:ready, type:bug

#49 🤡✨🍱 (API) Mock API Finished
  .gitignore
  server/README.txt
  server/__pycache__/app.cpython-39.pyc
  server/api/__init__.py
  server/api/__pycache__/__init__.cpython-39.pyc
  server/api/__pycache__/app.cpython-310.pyc
  server/api/__pycache__/queries.cpython-39.pyc
  server/api/app.py
  server/api/queries.py
  server/api/schema.graphql
  server/api/src/__pycache__/__init__.cpython-310.pyc
  server/app.py
  server/schema.graphql
Labels: priority:high, scope:api, status:ready, type:change

#51 :sparkles: (svc) Adding initial similarity script
  server/similarity.py
Labels: priority:high, status:ready, scope:service, type:feature

#54 Sengi
  packages/client/lib/home.dart
  packages/client/lib/nav_bar.dart
  packages/client/lib/searchhistory.dart
  packages/client/lib/viewAllProblems.dart
  packages/client/windows/flutter/generated_plugins.cmake
Labels: priority:medium, scope:ui, status:ready

#56 🍱✨(API) Implement Working API and Link to service layer
  server/__pycache__/app.cpython-39.pyc
  server/api/__pycache__/queries.cpython-39.pyc
  server/api/queries.py
  server/similarity.py
  server/test.py
Labels: priority:high, scope:api, type:change, type:chore, scope:service, type:feature

#57 :construction: :bug: (ui) fixed main.dart, add api-calls
  packages/client/lib/main.dart
  packages/client/lib/search_bar.dart
  packages/client/pubspec.lock
  packages/client/pubspec.yaml
  server/api/queries.py
Labels: priority:high, scope:ui, scope:api, status:not-ready, type:chore

#59 🐛🍱(UI) Updates Search Bar
  README.md
  packages/client/lib/search_bar.dart
  packages/client/pubspec.lock
  packages/client/pubspec.yaml
  packages/client/web/index.html
  server/__pycache__/app.cpython-39.pyc
  server/api/__pycache__/queries.cpython-39.pyc
  server/api/queries.py
  server/app.py
  server/schema.graphql
Labels: priority:high, scope:ui, scope:api, scope:client, status:ready, type:feature
